<body>
  <header>
    <div class="menu container">
      <h1 class="titulo">DARSOF - INC</h1>
      <input type="checkbox" id="menu" />
      <nav class="navbar">
        <ul>
          <div class="btn">
            <button  routerLink="/homw" type="submit" class="btn-F"  (click)="logOut()" style="--clr:#1e9bff"> <span>Cerrar Sesión</span><i></i></button>
          </div>
          
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <h1>Contraseñas disponibles</h1>
<div class="contraseñas">
  <div class="container">
    <button class="btn1" type="button">Y1G417UVkR54rmrrFsMp<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">GZNhEWvegNE$f.e8A#SX<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">=vqbi05WG-9*HDue5lH1<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">Z&qJrbl6f7psk4T9@bS7<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">U305Ik!Q^!ZW6c731cVg<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">m32JzSEq&0jg4PwH&q1Z<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">I84$oV!Czmro6W4eQFcg<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">9^DlnGmysCM!MZu6tqK5<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">p0978qdvSU#nKVxT0$Ox<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">D8mWw@C0QCIQgeLv0l6w<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">XwTI22uuq!H8^w&3Xl4k<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">O!923Q1W4C#YYx1&Pvea<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">lFad5#Sd6AhkK293kH1Q<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">91z&7ta5^nhs&!!%A319<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">^TS8RN453yYjG4J$X5k6<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">3IDpS*Q9m6!9$WTkAE0N<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">h0Y$kcPu791ovi8yg#sB<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">O60Y*@#3$DMLigbd2kB%<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">^oi8k#w7*xFT$0xP#s0Z<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">cd$XLz$@97GU0lOxD0H%<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">38t&%QgAZrX0gL852Z@D<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">B#nd44aV632^Ad26^C&N<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">CdvhK@MPXCwT47Yxg9P9<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">@r*3558GuUS8gQnYQ7wg<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">37HVg$hB8h#38Q%%LT45<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">jiVM3o70YS9ie8%2P7$l<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">NAkXA2$6HPq38OobXtYr<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">Ai@G44E^G#6r16WEJlmh<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">gLDqtV&swQ04n3%1Y&py<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">9!d9r3Kg#wh5n3#%qyOo<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">KIbbqfhU0oI2JZW1%QD7<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">74^cck&vPF49hGaw#X!Z<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">wW*q0%799e3L17DE1KVI<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">NB452j7H1Ml!g0!Hdw8y<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">16mSxjaFykd5peRvK%%E<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">0OK$SN2pCAG!1Ur0v*sh<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">cQlUQJ&Vb10i6@Kwzyrf<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">9BBg#Dp76ZPem!mfOJqo<button class="btn-copy">copiar</button></button>
  </div>
  <div class="container">
    <button class="btn1" type="button">1Oz540NgfF%k!E^B8Zmo<button class="btn-copy">copiar</button></button>
  </div>
</div>
<footer>
  <div class="row">
    <div class="col">
      <h3 class="titulo">DARSOF - INC</h3>
      <p>No nos hacemos resposables de cualquier daño, perjuicio o uso inadecuado de nuestros productos</p>
    </div>
    <div class="col">
      <h3>Mas informacion</h3>
      <p>Medellin - Colombia</p>
      <p class="email-id">montoyad283@gmail.com</p>
      <h4>+57 302 264 9914</h4>
    </div>
    <div class="col">
      <h3>Tambien te puede interesar</h3>
      <li class="link"><a routerLink="/tsg">Teoria General de los Sistemas</a></li>
      <li class="link"><a routerLink="/perfiles">Perfiles</a></li>
     
    </div> 
    <div class="col">
      <h3>Contactanos</h3>
      <div class="redes">

        <a href="https://wa.me/573022649914?text=" class="wht btn-3" target="_blank">Whattsapp</a>
        <a href="https://www.instagram.com/mdl_283/" class="wht btn-2" target="_blank">Instagram</a>
      </div>
      
    </div>
  </div>

</footer>
  </main>
</body>


  
 
   

