
<div class="PF">

    <div class="home">
        <div class="menu container">
            <a routerLink="/home">
                <h1 class="titulo">DARSOF - INC</h1>
            </a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" src="../../../assets/img/menu.png" alt="" />
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="" routerLink="/home">Inicio</a></li>
                    <li><a href="" routerLink="/login">Iniciar Sesión</a></li>
                    <li><a href="" routerLink="/registrar-usuario">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </div>

    
        <h1 class="titulo-A">Perfiles</h1>

    <section class="sec-01">
        <div class="contanerr">
            <h2 class="main-title">Tomás Londoño Arcila</h2>
            <div class="content">
                <div class="image">
                    <img src="../../../assets/img/tomas.png" alt="">
                </div>
                <div class="text-box">
                    <h3>Acerca de mi</h3>
                    <p>Me llamo Tomás, tengo 17 años, me gusta la seguridad informática, el fútbol, el baloncesto y estar siempre dispuesto
                        a aprender a generar nuevos conocimientos. Además de otras características como: <br>
                        - Capacidad de liderazgo <br>
                        - Buenos valores <br>
                        - Capacidad de razonar rápidamente
                        </p>
                </div>
            </div>
            <div class="media">
                <a href="https://wa.me/573058626248?text=" class="wht btn-3 W" target="_blank">Whattsapp</a>
                  <a href="https://www.instagram.com/londono9913/" class="wht btn-2" target="_blank">Instagram</a>
                    <p>tomaslondono320@gmail.com</p>
            </div>
            
        </div>
    </section>
    <section class="sec-01">
        <div class="contanerr">
            <h2 class="main-title">Daniel Montoya Arenas</h2>
            <div class="content">
                <div class="image">
                    <img src="../../../assets/img/Daniel.png" alt="">
                </div>
                <div class="text-box">
                    <h3>Acerca de mi</h3>
                    <p>Me llamo Daniel, tengo 17 años, me gusta la programación, la guitarra y aprender cosas nuevas todos los días, estas
                        son algunas de mis características: <br>
                    - Siempre dispuesto a aprender <br>
                    - Trabajo en equipo <br>
                    - Mentalidad de exito <br>
                    - Liderazgo</p>
                </div>
            </div>
            <div class="media">
                <a href="https://wa.me/573022649914?text=" class="wht btn-3 W" target="_blank">Whattsapp</a>
                  <a href="https://www.instagram.com/mdl_283/" class="wht btn-2" target="_blank">Instagram</a>
                    <p>montoyad283@gmail.com</p>
            </div>
        </div>
    </section>
    

       
    <footer>
        <div class="row">
          <div class="col">
            <h3 class="titulo">DARSOF - INC</h3>
            <p>No nos hacemos resposables de cualquier daño, perjuicio o uso inadecuado de nuestros productos</p>
          </div>
          <div class="col">
              <h3>Mas informacion</h3>
            <p>Medellin - Colombia</p>
            <p class="email-id">montoyad283@gmail.com</p>
            <h4>+57 302 264 9914</h4>
          </div>
          <div class="col">
            <h3>Tambien te puede interesar</h3>
            <li class="link"><a routerLink="/tsg">Teoria Genral de los Sistemas</a></li>
            <li class="link"><a routerLink="/home">Inicio</a></li>
           
          </div> 
          <div class="col">
              <h3>Contactanos</h3>
              <div class="redes">
                  
                  <a href="https://wa.me/573022649914?text=" class="wht btn-3" target="_blank">Whattsapp</a>
                  <a href="https://www.instagram.com/mdl_283/" class="wht btn-2" target="_blank">Instagram</a>
            </div>
            
          </div>
        </div>
    
      </footer>
</div>
