<script src="https://kit.fontawesome.com/50b3658c91.js"></script>

<div class="home">
  <header>
    <div class="menu container">
      <a routerLink="/home">
        <h1 class="titulo">DARSOF - INC</h1>
      </a>
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img class="menu-icono" src="../../../assets/img/menu.png" alt="" />
      </label>
      <nav class="navbar">
        <ul>
          <li><a href="" routerLink="/login">Iniciar Sesión</a></li>
          <li><a href="" routerLink="/registrar-usuario">Registrarse</a></li>
        </ul>
      </nav>
    </div>

    <div class="header-content container">
      <div class="header-txt">
        <h1>¿Buscas Seguridad en tus contraseñas?</h1>
        <p>
          Con las contraseñas que brinda DARSOF - INC no tendras que preocuparte en que tu contraseña no sea segura, ¡No
          arriesgues la seguridad de tus datos y comienza a utilizar nuestras contraseñas sólidas y confiables hoy
          mismo!
        </p>
        <div class="btn">
          <button routerLink="/login" type="button" class="btn-F" style="--clr: #1e9bff">
            <span>Saber Mas</span><i></i>
          </button>
        </div>
      </div>
      <div class="header-img">
        <img src="../../../assets/img/candado.jpg" alt="" />
      </div>
    </div>
  </header>

  <section class="services">
    <div class="service-1">
      <img src="../../../assets/img/calidad.png" alt="" />
      <h3>Calidad</h3>
      <p>
        Nos esforzamos por ofrecerte contraseñas de la más alta calidad. Nuestro sistema genera combinaciones únicas y
        complejas
        que cumplen con los estándares de seguridad actuales. Además, nos aseguramos de que las contraseñas sean fáciles
        de
        recordar y utilizar, evitando cualquier complicación innecesaria.
    </div>
    <div class="service-1">
      <img src="../../../assets/img/seguridad2.png" alt="" />
      <h3>Seguridad</h3>
      <p>
        Nuestra prioridad es garantizar la máxima seguridad para tus contraseñas. Utilizamos algoritmos de encriptación
        avanzados y métodos de generación aleatoria para crear contraseñas prácticamente invulnerables a ataques
        cibernéticos.
        Puedes confiar en que tus datos estarán protegidos de manera sólida y confidencial.
      </p>
    </div>
    <div class="service-1">
      <img src="../../../assets/img/eficiencia2.png" alt="" />
      <h3>Eficiencia</h3>
      <p>
        Entendemos que el tiempo es valioso. Por eso, nuestras contraseñas te proporciona rápidamente las
        combinaciones seguras que necesitas. Olvídate de perder tiempo pensando en contraseñas complicadas; con
        nosotros,
        obtendrás contraseñas robustas en cuestión de segundos. Maximizamos la eficiencia para que puedas concentrarte
        en lo que
        realmente importa.
      </p>
    </div>
  </section>

  <h1 id="Contac">contactanos</h1>

  <div class="Pbox">
    <div class="box">
      <div class="form">
        <div class="inputBox">
          <span>Nombre</span>
          <input type="text" required="required" />
          <i></i>
        </div>
        <div class="inputBox">
          <span>Numero celular</span>
          <input type="text" />
          <i></i>
        </div>
        <div class="inputBox">
          <span>Correo Electronico</span>
          <input type="email" required="required" />
          <i></i>
        </div>
        <div class="inputBox">
          <span>mensaje</span>
          <textarea name="message" rows="10"></textarea>
          <i></i>
        </div>
        <div class="btn B">
          <button type="button" class="btn-F" style="--clr: #1e9bff">
            <span>ENVIAR</span><i></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col">
        <h3 class="titulo">DARSOF - INC</h3>
        <p>No nos hacemos resposables de cualquier daño, perjuicio o uso inadecuado de nuestros productos</p>
      </div>
      <div class="col">
        <h3>Mas informacion</h3>
        <p>Medellin - Colombia</p>
        <p class="email-id">montoyad283@gmail.com</p>
        <h4>+57 302 264 9914</h4>
      </div>
      <div class="col">
        <h3>Tambien te puede interesar</h3>
        <li class="link"><a routerLink="/tsg">Teoria General de los Sistemas</a></li>
        <li class="link"><a routerLink="/perfiles">Perfiles</a></li>

      </div>
      <div class="col">
        <h3>Contactanos</h3>
        <div class="redes">
          <a href="https://wa.me/573022649914?text=" class="wht btn-3" target="_blank">Whattsapp</a>
          <a href="https://www.instagram.com/mdl_283/" class="wht btn-2" target="_blank">Instagram</a>
        </div>

      </div>
    </div>

  </footer>
</div>