@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@font-face {
    font-family: BlackFuture;
    src: url(../../../assets/BlackFuture-gx1q3.otf);
}
.titulo{
    color: bisque;
    font-size: 30px;
    font-family: BlackFuture;
}
 .titulo-A{
    font-size: 85px;
    letter-spacing: 5px;
    color: #0DB8DE;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 25px;
}
body {
    background: black;
}
.tgs {
    background: black;
}
* {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

header {
    background: black;
    color: bisque;
    display: flex;
    min-height: 100vh;
    align-items: center;
}
.container {
    max-width: 1200px;
    
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding-top: 25px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:  bisque;
    display: block;
}
.menu .navbar ul li a:hover {
    color: #0DB8DE;
}

#menu {
    display: none;
}
.menu label {
    cursor: pointer;
    display: none;
}
/*Main*/
.titulo-A{
    padding-top: 150px;
    text-align: center;
}
.parrafos {
	max-width: 1000px;
	width: 90%;
	margin: auto;	
}
.Texto p {
    color: rgba(255, 251, 251, 0.755);
    font-size: 20px;
}
.Texto h1 {
    color: bisque;
    font-size: 35px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;

}
.Texto h3 {
    color: rgba(255, 228, 196, 0.823);
    text-align: left;
    padding: 15px;
}
.parrafos img {
    text-align: center;
}
/*Fin main*/
/*Footer*/

footer {
    width: 100%;
    margin-top: 100px;
    bottom: 0;
    background: #141518;
    color: bisque;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
} 
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.redes {
    display: grid;
}
.col a {
    
    font-size: 16px;
    color: bisque;
  
}
.col a:hover {
    color: #0DB8DE;
}
.col h3 {
    width: fit-content;
    border-bottom: 1px solid #0DB8DE;
    margin: 20px 0;
}
.link {
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.col ul li {
    list-style: none;
    color: bisque;
}
.col ul li a {
    text-decoration: none;
    color: bisque;
}
.col img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

/*botones*/

/*Whattsapp*/
.wht {
    position: relative;
    padding: 20px 45px;
    text-decoration: none;
    color: bisque;
    letter-spacing: 10px;
    margin-bottom: 25px ;
}
.btn-3 {
    transition: all 0.6s ease;
    z-index: 1;
}
.btn-3::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: bisque;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
.btn-3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #03cc57; 
    transition: all 0.4s ease;
    z-index: -1;
}
.btn-3:hover::after {
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(280px);
}
.btn-3:hover::before {
    background-color: #03cc57;
    border: 3px solid #029740;
    transform: skew(20deg, 0deg) scale(1.1); 
}

/*instagram*/
.btn-2 {
    transition: all 0.6s ease;
    z-index: 1;
}
.btn-2::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: bisque;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
.btn-2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #f79b35; 
    transition: all 0.4s ease;
    z-index: -1;
}
.btn-2:hover::after {
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(280px);
}
.btn-2:hover::before {
    background-color: #900ad3;
    border: 3px solid #f79b35;
    transform: skew(20deg, 0deg) scale(1.1); 
}
/*Fin botones*/
/*Fin footer*/