
<div class="tgs">

    <div class="home">
        <div class="menu container">
            <a routerLink="/home">
                <h1 class="titulo">DARSOF - INC</h1>
            </a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img class="menu-icono" src="../../../assets/img/menu.png" alt="" />
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="" routerLink="/home">Inicio</a></li>
                    <li><a href="" routerLink="/login">Iniciar Sesión</a></li>
                    <li><a href="" routerLink="/registrar-usuario">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </div>

    
        <h1 class="titulo-A">Teoria General de los Sistemas</h1>

        <div class="parrafos">
            <div class="Texto">
                <p>La teoría de sistemas o teoría general de sistemas es el área de la ciencia que estudia la estructura y propiedades
                    de los sistemas en términos de sus relaciones, de las cuales surgen nuevas propiedades de los conjuntos como un
                    todo. Fue establecida como ciencia en la década de 1950 por Ludwig von Bertalanffy, Anatol Rapoport, Kenneth E.
                    Boulding, William Ross Ashby, Margaret Mead, Gregory Bateson y otros.
                
                    En su rol de albergar múltiples disciplinas, reúne principios teóricos y conceptos de biología, filosofía de la
                    ciencia, ontología, física e ingeniería. Sus aplicaciones se encuentran en numerosos campos, tales como geografía,
                    sociología, ciencias políticas, teoría organizacional, administración, psicoterapia y economía.
                
                    La visión de sistemas mira al mundo en términos de relaciones e integración. Los sistemas son conjuntos integrados
                    cuyas propiedades no pueden reducirse a unidades más pequeñas. En lugar de concentrarse en los componentes básicos,
                    el enfoque de sistemas enfatiza más en los principios de la organización.
                
                    La teoría de sistemas en lugar de reducir cualquier ente, tal como el cuerpo humano, a las propiedades de sus
                    partes, como órganos o células, se centra en cómo se conforman y relacionan estas partes para poder conectar al
                    cuerpo como un todo.
                
                    Esta organización particular es la que determina a un sistema, siendo independiente de sus elementos concretos, sean
                    partículas, células, transistores, personas, etc.
                
                    Estos mismos conceptos y principios de organización están envueltos en las diferentes disciplinas (física, biología,
                    tecnología, sociología, etc.), proporcionando una base para su unificación.
                
                </p>
            </div>
            <div class="Texto">
                <h1>Origen de la teoría de sistemas</h1>
                <p>Desde Descartes, el método científico había avanzado bajo dos supuestos que estaban relacionados:
                
                    Un sistema puede dividirse en sus componentes individuales para que cada componente se pueda analizar como ente
                    independiente.
                    Estos componentes pueden agregarse de forma lineal, para describir la totalidad del sistema.
                    La teoría de sistemas planteó que ambas hipótesis eran erróneas. Indicaba que un sistema estaba determinado más bien
                    por las interacciones de sus componentes y por la no linealidad de esas interacciones.
                
                    Esta teoría fue propuesta en 1928 por Ludwig von Bertalanffy y luego desarrollada por otros autores. Por tanto, se
                    le considera el fundador y autor primordial de la teoría de sistemas. Con esta teoría, Bertalanffy reaccionaba
                    contra una visión reducida y buscaba reavivar la unidad de la ciencia.
                
                    Hacía hincapié en que los sistemas reales eran un conjunto de elementos que interactuaban y que eran abiertos, que
                    además interactuaban con su entorno y podían adquirir propiedades cualitativamente nuevas, resultando en una
                    evolución continua.</p>
            </div>
            <div class="Texto">
                <h1>Nuevo paradigma científico</h1>
                <p>El término “teoría general de sistemas” fue propuesto por el mismo Bertalanffy. Este término fue traducido al inglés
                    en 1950, después de que durante mucho tiempo el propio Bertalanffy se resistiera llamar a su doctrina como “teoría”.
                
                    Un año después, Bertalanffy amplió la teoría de sistemas para incluir los sistemas biológicos, siendo popularizada
                    por varios autores.
                
                    Como teoría sobre los principios generales de los sistemas, la teoría de sistemas se consideró como una especie de
                    metateoría, capaz de unificar las diversas especialidades, incluyendo una nueva visión del mundo y generando un
                    nuevo paradigma para todas las ciencias.</p>
            </div>
            <div class="Texto">
                <h1>Características de la teoría de sistemas</h1>
                <h3>Visión holística</h3>
                <p>La teoría de sistemas se centra en la conformación y las relaciones entre las partes, que las conectan en un todo. La
                    interacción de las partes hace que el todo sea más importante que todas ellas.</p>
                <h3>Abiertos</h3>
                <p>Los sistemas se mantienen evolucionando y sus propiedades brotan continuamente a través de su interacción con el entorno</p>
                <h3>Autoorganización</h3>
                <p>Los sistemas dinámicos se autoorganizan. Esto implica la capacidad de los sistemas de adaptarse a cambios en el
                    entorno. El proceso de autoorganización se puede describir como una conversación entre dos o más participantes, cuyo
                    propósito es llegar a un acuerdo sobre un entendimiento.</p>
                <h3>Orientación a objetivos</h3>
                <p>Los sistemas están orientados a objetivos y se retroalimentan con el entorno para alcanzarlos. Además, cada parte del
                    sistema es interdependiente y trabaja en conjunto para lograr los objetivos.</p>
                <h3>Diseño del sistema</h3>
                <p>La principal calidad de una parte reside en su relación con el todo. El sistema y sus partes se deben diseñar desde
                    la perspectiva de todo el sistema y teniendo en cuenta su integración con el entorno.
                
                    Este diseño requiere coordinación e integración. Se necesitan diseñar todas las partes que operan en un nivel
                    específico del sistema, de manera interactiva y simultánea, requiriendo esto coordinación. El requisito de diseñar
                    para la interdependencia de todos los niveles del sistema lleva a la integración.</p>
                <h3>Naturaleza dinámica</h3>
                <p>Sus formas no son estructuras rígidas, sino que son expresiones establemente flexibles de sus procesos subyacentes.</p>
            </div>
            <div class="Texto">
                <h1>Autores</h1>
                <h3>Ludwig von Bertalanffy</h3>
                <img src="../../../assets/img/ludwig.jpg" alt="">
                <p>El concepto de sistema se ha desarrollado ampliamente debido a las contribuciones hechas por Bertalanffy, un
                    biólogo
                    austríaco.
            
                    Se enfocaba en examinar el mundo real para seleccionar ciertos fenómenos habituales que se encontraban en muchas
                    disciplinas diferentes, buscando construir modelos teóricos relevantes para fenómenos como el crecimiento y la
                    evolución. Estas ideas de Bertalanffy fueron desarrolladas en la teoría de sistemas.
            
                    Esta nueva visión de la realidad se basaba en ser consciente de la interrelación e interdependencia de todos los
                    fenómenos, ya sean físicos, biológicos, psicológicos o sociales, trascendiendo los límites conceptuales
                    ortodoxos.
            
                    El propósito principal que tenía Bertalanffy para desarrollar esta teoría era la supervivencia humana. Decía que
                    la
                    civilización atravesaba enormes dificultades por la falta de criterios éticos para expresar los asuntos humanos.
                </p>
            
                <h3>Niklas Luhman</h3>
                <img src="../../../assets/img/niklas.png" alt="">
                <p>Según Luhmann, cada sociedad está fraccionada en varios sistemas, tales como el sistema legal, político,
                    educativo,
                    científico o económico. Los sistemas sociales son estructuras que en un entorno sumamente complejo mantienen un
                    contexto más sencillo.
            
                    El elemento central de su teoría de sistemas es la comunicación como unidad de expresión, información y
                    comprensión.
                    Cada sistema social consta de innumerables comunicaciones significativas. Además, una sociedad solo es posible
                    donde
                    la comunicación sea posible.
            
                    Luhmann consideraba que la comunicación era la unidad básica de observación para poder evaluar el funcionamiento
                    de
                    los sistemas sociales. A través de las continuas combinaciones de las diferentes comunicaciones es que se
                    desarrollaban los sistemas sociales.
            
                    Por tanto, estos sistemas no eran estructuras estables, porque consistían en una diversidad de eventos que
                    cambian
                    fácilmente.</p>
            </div>
            <div class="Texto">
                <h1>Aplicaciones de la teoría de sistemas</h1>
                <h3>Gestión empresarial</h3>
                <img src="../../../assets/img/GE.jpg" alt="">
                <p>Gracias a la teoría de sistemas surgió una perspectiva de gestión empresarial llamada “enfoque de sistemas”. Se
                    basaba en la idea de que todo estaba interrelacionado y era interdependiente.
                
                    Indicaba que el sistema de gestión estaba compuesto por componentes que se relacionaban y dependían entre sí, y al
                    interactuar formaban un todo. Era simplemente un ensamble de entidades simples que conformaban un todo complejo.
                
                    Por tanto, según la teoría de sistemas los elementos de una empresa deben funcionar armónicamente, ya que todos son
                    interdependientes.</p>

                <h3>Organización de sistemas informáticos</h3>
                <img src="../../../assets/img/PC.jpg" alt="">
                <p>La teoría de sistemas también se puede aplicar a la organización de sistemas informáticos y su funcionamiento. Un
                    sistema informático se compone de varios elementos, pudiendo ser hardware o software.
                
                    Como estos sistemas son sumamente complejos, los elementos están organizados en niveles. Se podría decir que una
                    computadora está formada por varios subsistemas y que ellos reaccionan por ser interdependientes entre sí.
                
                    El sistema informático tiene tres componentes principales: una unidad central de procesamiento, una unidad de
                    memoria y dispositivos de entrada/salida. Todas estas partes de la computadora son interdependientes entre sí, así
                    como con su entorno.
                
                    Si la CPU no funciona correctamente, es posible que los dispositivos de entrada/salida tampoco. Si la unidad de
                    memoria no funciona correctamente, las otras partes de la computadora pueden quedar inutilizables.</p>
                <h3>Desarrollo organizacional</h3>
                <p>Originalmente, la teoría organizacional solo se enfocaba en los requerimientos técnicos de las actividades laborales
                    desarrolladas en las organizaciones.
                
                    El surgimiento de la teoría de sistemas obligó a comprender las organizaciones como sistemas abiertos que
                    interactúan con su entorno, aceptándose ya en general la importancia del entorno.</p>
            </div>
        </div>
    <footer>
        <div class="row">
          <div class="col">
            <h3 class="titulo">DARSOF - INC</h3>
            <p>No nos hacemos resposables de cualquier daño, perjuicio o uso inadecuado de nuestros productos</p>
          </div>
          <div class="col">
              <h3>Mas informacion</h3>
            <p>Medellin - Colombia</p>
            <p class="email-id">montoyad283@gmail.com</p>
            <h4>+57 302 264 9914</h4>
          </div>
          <div class="col">
            <h3>Tambien te puede interesar</h3>
            <li class="link"><a routerLink="/home">Inicio</a></li>
            <li class="link"><a routerLink="/perfiles">Perfiles</a></li>
           
          </div> 
          <div class="col">
              <h3>Contactanos</h3>
              <div class="redes">
                  
                  <a href="https://wa.me/573022649914?text=" class="wht btn-3" target="_blank">Whattsapp</a>
                  <a href="https://www.instagram.com/mdl_283/" class="wht btn-2" target="_blank">Instagram</a>
            </div>
            
          </div>
        </div>
    
      </footer>
</div>

